<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head'); %>

<body>
	<div class="main-wrapper">
		<!-- Home Banner -->



    <%- include('../partials/header'); %>
  	
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="/">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Change Password</li>
								</ol>
							</nav>
							
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
		<!-- Page Content -->
        <div class="content">
            <div class="container-fluid">
             
                <div class="row">
                    <%- include('../partials/sidebar-doctor'); %>
<div class="col-md-7 col-lg-8 col-xl-9">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12 col-lg-6">
                                        
                                            <!-- Change Password Form -->
                                            <form method="POST" action="/change-doc-password">
                                                <div class="form-group">
                                                    <label>Old Password</label>
                                                    <input type="password" onblur="comparePassword(this.value)" name="oldpassword" id="oldpassword" class="form-control" required>
                                                </div>
                                                <div class="form-group">
                                                    <label>New Password</label>
                                                    <input type="password" name="password"  id="password" class="form-control" required>
                                                </div>
                                                <div class="form-group">
                                                    <label>Confirm Password</label>
                                                    <input type="password" name="password_confirmation" id="password_confirmation" class="form-control" required>
                                                </div>
                                                <div class="submit-section">
                                                    <button name="commit" type="submit" class="btn btn-primary submit-btn">Save Changes</button>
                                                </div>
                                            </form>
                                            <!-- /Change Password Form -->
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>

            </div>

        </div>		
        <!-- /Page Content -->

    <%- include('../partials/footer'); %>
    </div>
    <%- include('../partials/footer-scripts'); %>
<script>

function validatePassword() {
var pass1 = document.getElementById("password").value;
var pass2 = document.getElementById("password_confirmation").value;
pass1 != pass2 ? document.getElementById("password_confirmation").setCustomValidity("Passwords don't Match") : document.getElementById("password_confirmation").setCustomValidity('');
}

document.getElementsByName("commit")[0].onclick = validatePassword;


function comparePassword(givenpassword){
    console.log('The given pass: '+givenpassword)
$.ajax({
    type:'POST',
    url:'/comparePassword',
    data:givenpassword,
    dataType:'json',
    success:function(msg){
        console.log(msg);
    }
})


}
</script>
</body>
</html>