<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head'); %>

<body>
	<div class="main-wrapper">
		<!-- Home Banner -->



    <%- include('../partials/header'); %>
  	
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="/">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Profile Settings</li>
								</ol>
							</nav>
							
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
		<!-- Page Content -->
        <div class="content">
            <div class="container-fluid">
             
                <div class="row">
                    <%- include('../partials/sidebar-doctor'); %>
<div class="col-md-7 col-lg-8 col-xl-9">
         <form method="POST" action="/save-profile" enctype="multipart/form-data">
                            <!-- Basic Information -->
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Basic Information</h4>
                                    <div class="row form-row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="change-avatar">
                                                    <div class="profile-img">
                                                        <img src="/uploads/<%=profileData?profileData.profile_image:'' %>" alt="User Image">
                                                    </div>
                                                    <div class="upload-img">
                                                        <div class="change-photo-btn">
                                                            <span><i class="fa fa-upload"></i> Upload Photo</span>
                                                            <input type="file" name="profile_image" class="upload">
                                                        </div>
                                                        <small class="form-text text-muted">Allowed JPG, GIF or PNG. Max size of 2MB</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Username <span class="text-danger">*</span></label>
                                                <input type="text" name="name1" value="<%= userdata.name %>" class="form-control" readonly="">
                                            
                                                <input type="hidden" name="dept" value="<%= userdata.dept %>" class="form-control" readonly="">
                                            
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Email <span class="text-danger">*</span></label>
                                                <input type="email" name="email" value="<%= userdata.email %>" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Full Name <span class="text-danger">*</span></label>
                                                <input type="text" name="name" value="<%= userdata.name %>"  class="form-control">
                                            </div>
                                        </div>
                                                   
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Mobile Number</label>
                                    <input name="id" type="hidden" value="<%=userdata.id %>" >
                                                <input name="mobile" value="<%=userdata.mobile %>" type="text" class="form-control">
                                            </div>
                                        </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Gender</label>
                            <select name="gender" class="form-control select select2-hidden-accessible" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                <option data-select2-id="3">Select</option>
                                <% if(userdata.gender=='Male'){ %>
                                <option  value="Male" selected>Male</option>
                                <% }  else{  %>
                                    <option  value="Male">Male</option>
                                    <% }  %>
                                    <% if(userdata.gender=='Female'){ %>
                                        <option  value="Female" selected>Female</option>
                                        <% }  else{  %>
                                            <option value="Female">Female</option>
                                            <% }  %>
                                
                                </select>
                                </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group mb-0">
                                                <label>Date of Birth</label>
                                                <input name="dob" value="<%=userdata.dob %>" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Basic Information -->
                            
                            <!-- About Me -->
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">About Me</h4>
                                    <div class="form-group mb-0">
                                        <label>Biography</label>
    <textarea name="biography" value="" class="form-control" rows="5"><%= profileData?profileData.biography:'' %></textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- /About Me -->
                            
                            <!-- Clinic Info -->
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Clinic Info</h4>
                                    <div class="row form-row">
                                        <div class="col-md-6">
                        <div class="form-group">
                            <label>Clinic Name</label>
                            <input name="clinic_name" value="<%=profileData?profileData.clinic_name:'' %>" type="text" class="form-control">
                        </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Clinic Address</label>
        <input name="clinic_address" value="<%=profileData?profileData.clinic_address:'' %>"  type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Clinic Images</label>
                                                <input name="clinic_image"  type="file" class="form-control" multiple>
                                            </div>
                                       <!---    <div class="upload-wrap">
                                                <div class="upload-images">
                                                    <img src="assets/img/features/feature-01.jpg" alt="Upload Image">
                                                    <a href="javascript:void(0);" class="btn btn-icon btn-danger btn-sm"><i class="far fa-trash-alt"></i></a>
                                                </div>
                                                <div class="upload-images">
                                                    <img src="assets/img/features/feature-02.jpg" alt="Upload Image">
                                                    <a href="javascript:void(0);" class="btn btn-icon btn-danger btn-sm"><i class="far fa-trash-alt"></i></a>
                                                </div>
                                          
                                            </div>   -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Clinic Info -->

                            <!-- Contact Details -->
                            <div class="card contact-card">
                                <div class="card-body">
                                    <h4 class="card-title">Contact Details</h4>
                                    <div class="row form-row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Address Line 1</label>
                                                <input name="address_one" value="<%=profileData?profileData.address_one:'' %>"  type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Address Line 2</label>
  <input name="address_two" value="<%=profileData?profileData.address_two:'' %>" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">City</label>
<input type="text" name="city" value="<%=profileData?profileData.city:'' %>" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">State / Province</label>
 <input type="text" name="province" value="<%=profileData?profileData.province:'' %>" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Country</label>
                                                <input type="text" name="country" value="<%=profileData?profileData.country:'' %>" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Postal Code</label>
     <input type="text" name="post_code" value="<%=profileData?profileData.post_code:'' %>" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Contact Details -->
                            
                            <!-- Pricing -->
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Pricing</h4>
                                    
                                    <div class="form-group mb-0">
                                        <div id="pricing_select">
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="price_free" name="pricing_type" class="custom-control-input" value="price_free" checked="">
                                                <label class="custom-control-label" for="price_free">Free</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="price_custom" name="pricing_type" value="custom_price" class="custom-control-input">
                                                <label class="custom-control-label" for="price_custom">Custom Price (per hour)</label>
                                            </div>
                                        </div>

                                    </div>
                                    
                                    <div class="row custom_price_cont" id="custom_price_cont" style="display: none;">
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="custom_rating_input" name="custom_rating_count" value="" placeholder="20">
                                            <small class="form-text text-muted">Custom price you can add</small>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- /Pricing -->
                            
                            <!-- Services and Specialization -->
                            <div class="card services-card">
                                <div class="card-body">
                                    <h4 class="card-title">Services and Specialization</h4>
                                    <div class="form-group">
                                        <label>Services</label>
                                        <div class="bootstrap-tagsinput">
                                     <input size="14" type="text" value="<%=profileData?profileData.services:'' %>" placeholder="Services" name="services">
                                        <small class="form-text text-muted">Note : Type &amp; Press enter to add new services</small>
                                    </div> 
                                </div>

                                
                                    <div class="form-group mb-0">
                                        <label>Specialization </label>
                                        <div class="bootstrap-tagsinput"><span class="tag badge badge-info">Children Care<span data-role="remove"></span></span> <span class="tag badge badge-info">Dental Care<span data-role="remove"></span></span> <input name="specialization" value="<%=profileData?profileData.specialization:'' %>" type="text" placeholder="Enter Specialization"></div><input class="input-tags form-control" type="text" data-role="tagsinput" placeholder="Enter Specialization" name="specialist" value="Children Care,Dental Care" id="specialist" style="display: none;">
                                        <small class="form-text text-muted">Note : Type &amp; Press  enter to add new specialization</small>
                                    </div> 
                                </div>              
                            </div>
                            <!-- /Services and Specialization -->
                         
                            <!-- Education -->
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Education</h4>
                                    <div class="education-info">
                                        <div class="row form-row education-cont">
                                            <div class="col-12 col-md-10 col-lg-11">
                                                <div class="row form-row">
                                                    <div class="col-12 col-md-6 col-lg-4">
                                                        <div class="form-group">
                                                            <label>Degree</label>
                                                            <input type="text" value="<%= profileData?profileData.degree:'' %>" name="degree[]" class="form-control">
                                                        </div> 
                                                    </div>
                                                    <div class="col-12 col-md-6 col-lg-4">
                                                        <div class="form-group">
                                                            <label>College/Institute</label>
                                                            <input type="text" name="college[]" value="<%= profileData?profileData.college:'' %>" class="form-control">
                                                        </div> 
                                                    </div>
                                                    <div class="col-12 col-md-6 col-lg-4">
                                                        <div class="form-group">
                                                            <label>Year of Completion</label>
                                                            <input type="text" name="complete_year[]" value="<%= profileData?profileData.complete_year:'' %>" class="form-control">
                                                        </div> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="add-more">
                                        <a href="javascript:void(0);" class="add-education"><i class="fa fa-plus-circle"></i> Add More</a>
                                    </div>
                                </div>
                            </div>
                            <!-- /Education -->
                        
                            <!-- Experience -->
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Experience</h4>
                                    <div class="experience-info">
                                        <div class="row form-row experience-cont">
                                            <div class="col-12 col-md-10 col-lg-11">
                                                <div class="row form-row">
                                                    <div class="col-12 col-md-6 col-lg-4">
                                                        <div class="form-group">
                                                            <label>Hospital Name</label>
                                                            <input type="text" name="hospital_name[]" value="<%= profileData?profileData.hospital_name:'' %>" class="form-control">
                                                        </div> 
                                                    </div>
                                                    <div class="col-12 col-md-6 col-lg-4">
                                                        <div class="form-group">
                                                            <label>From</label>
                                                            <input type="text" name="from_appoint[]" value="<%= profileData?profileData.from_appoint:'' %>" class="form-control">
                                                        </div> 
                                                    </div>
                                                    <div class="col-12 col-md-6 col-lg-4">
                                                        <div class="form-group">
                                                            <label>To</label>
                                                            <input type="text" name="to_appoint[]" value="<%= profileData?profileData.to_appoint:'' %>" class="form-control">
                                                        </div> 
                                                    </div>
                                                    <div class="col-12 col-md-6 col-lg-4">
                                                        <div class="form-group">
                                                            <label>Designation</label>
                                                            <input type="text" name="designation[]" value="<%= profileData?profileData.designation:'' %>" class="form-control">
                                                        </div> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="add-more">
                                        <a href="javascript:void(0);" class="add-experience"><i class="fa fa-plus-circle"></i> Add More</a>
                                    </div>
                                </div>
                            </div>
                            <!-- /Experience -->
                            
                            <!-- Awards -->
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Awards</h4>
                                    <div class="awards-info">
                                        <div class="row form-row awards-cont">
                                            <div class="col-12 col-md-5">
                                                <div class="form-group">
                                                    <label>Awards</label>
                                                    <input type="text" value="<%= profileData?profileData.awards:'' %>" name="awards[]" class="form-control">
                                                </div> 
                                            </div>
                                            <div class="col-12 col-md-5">
                                                <div class="form-group">
                                                    <label>Year</label>
                                                    <input type="text" name="awardsyear[]" value="<%= profileData?profileData.awardsyear:'' %>" class="form-control">
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="add-more">
                                        <a href="javascript:void(0);" class="add-award"><i class="fa fa-plus-circle"></i> Add More</a>
                                    </div>
                                </div>
                            </div>
                            <!-- /Awards -->
                            
                            <!-- Memberships -->
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Memberships</h4>
                                    <div class="membership-info">
                                        <div class="row form-row membership-cont">
                                            <div class="col-12 col-md-10 col-lg-5">
                                                <div class="form-group">
                                                    <label>Memberships</label>
                                                    <input type="text" value="<%= profileData?profileData.memberships:'' %>" name="memberships[]" class="form-control">
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="add-more">
                                        <a href="javascript:void(0);" class="add-membership"><i class="fa fa-plus-circle"></i> Add More</a>
                                    </div>
                                </div>
                            </div>
                            <!-- /Memberships -->
                            
                            <!-- Registrations -->
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Registrations</h4>
                                    <div class="registrations-info">
                                        <div class="row form-row reg-cont">
                                            <div class="col-12 col-md-5">
                                                <div class="form-group">
                                                    <label>Registrations</label>
                                                    <input type="text" value="<%= profileData?profileData.registrations:'' %>" name="registrations[]" class="form-control">
                                                </div> 
                                            </div>
                                            <div class="col-12 col-md-5">
                                                <div class="form-group">
                                                    <label>Year</label>
                                                    <input type="text" name="registrationyear[]" value="<%= profileData?profileData.registrationyear:'' %>" class="form-control">
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="add-more">
                                        <a href="javascript:void(0);" class="add-reg"><i class="fa fa-plus-circle"></i> Add More</a>
                                    </div>
                                </div>
                            </div>
                            <!-- /Registrations -->
                            
                            <div class="submit-section submit-btn-bottom">
                                <button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
                            </div>
                            
                        </div>
                    </form>
                </div>

            </div>

        </div>		
        <!-- /Page Content -->

    <%- include('../partials/footer'); %>
    </div>
    <%- include('../partials/footer-scripts'); %>
    <script src="assets/js/ajax.js"></script>
</body>
</html>